.latex-wrap {
    background-color: #e4e4e4;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

    input {
        width: 90%;
        padding: 10px 15px 12px 25px;
        border: 1px black solid;
        border-radius: 4px;
        background: #fff;
        color: #989898;
        font-size: 18px;
    }
}

